GROQ_API_KEY = "<your grok api key>"
LANGSMITH_TRACING = true
LANGSMITH_API_KEY = "<your api key for local monitoring"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT = "chatbot"